{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Information</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
</head>
<body>

    <div class="footer_container">
        <div class="box">
            <h5>Email</h5>
            <p>rpratik21@tbc.edu.np</p>
            <p>signspeaks21@gmail.com</p>
        </div>
        <div class="box">
            <h5>Live Chat</h5>
            <p>Chat with our support team in real-time.</p>
        </div>
        <div class="box">
            <h5>Phone</h5>
            <p>Call us at +977 9867306189</p>
        </div>
        <div class="box">
            <h5>Office</h5>
            <p>The British College, Trade Tower</p>
        </div>
    </div>
</div>
    
    <!-- Add a footer section -->
    <div class="caption">  <!-- This is where you add the top border -->
        <p>© 2024 SignSpeaks. All rights reserved.</p>
    </div>
</body>
</html>
