.footer_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top: 1px solid #413ba8;
}

label {
    color: white;
}

.get-touch p {
    font-size: 17px;
    font-weight:500;
}

.box {
    width: 25%;  /* 4 boxes in a row */
    padding: 7px;
}

.box p {
    font-size: 14px;
}

.caption {
    text-align: center;
    padding: 3px;
    color: aqua;
}

/* Media query for smaller screens */
@media (max-width: 768px) { 
    .box {
        width: 50%;  
    }
}

@media (max-width: 480px) {  
    .box {
        width: 100%;  
        padding: 20px;  
    }

    .caption {
        padding: 10px;  
    }
}
