{% extends "base_logo.html" %}
{% load static %}
{% block base_log %}
<div class="global-container">
    <div class="card login-form">
        <div class="logo_top">
            <img src="{% static 'images/logo1.png' %}" alt="My logo" width="200px" height="100px" />
        </div>
        <div class="card-body">
            <h3 class="card-title text-center">Forgot Password</h3>
            <p style="color: lightgreen;text-align: center; text-decoration: aqua;">Enter your email to reset your password!</p>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="card-text">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block">Send rest link</button>
                    <div class="sign-up">
                        <a href="{% url 'login' %}">🡠Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
