{% extends "base_logo.html" %}
{% load static %}
{% block base_log %}
<div class="global-container">
    <div class="logo">
        <img src="{% static 'images/logo1.png' %}" alt="My logo" />
    </div>
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Password Reset Sent</h3>
            <p style="color: lightgreen; text-align: center; text-decoration: aqua;">
                We have sent you an email with instructions to reset your password.
            </p>
            <div class="card-text">
                <div class="sign-up">
                    <a href="{% url 'login' %}">🡠Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
