{% extends 'base.html' %}

{% load socialaccount %}
{% load static %}

{% block content %}

 
  <form method="POST">
    {% csrf_token %} 
    
    <button class="btn btn-primary btn-block mt-3" type="submit">Register</button>
  </form>


  <br>
  <!-- Login-->
  <p class="text-center">If you already have an account, <a href="{% url 'login' %}">login</a> instead.</p>

  <div class="signin text-center mt-4">
    <!-- Divider -->
    <div style="width: 100%; height: 15px; border-bottom: 1px solid lightgray; text-align: center;">
      <span class="text-muted" style="font-size: 11px;color:black; background-color: white; padding: 0px 10px;">
        OR
      </span>
    </div>
  </div>

  <!-- Social Login -->
  <div class="social-login text-center mt-3">
    <p>Sign in with:</p>
    <a href="{% provider_login_url 'google' %}" class="btn btn-danger btn-block mt-3 text-light">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
        <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
      </svg>
      Sign in with Google
    </a>
  </div>
</div>

{% endblock %}
