{% extends "base_logo.html" %}
{% load static %}
{% block base_log %}
<div class="global-container">
    <div class="logo">
        <img src="{% static 'images/logo1.png' %}" alt="My logo" />
    </div>
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Set New Password</h3>
            <div class="card-title text-center">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block">Set New Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
