{% extends "base_logo.html"%}
{% load static %}
    {% block base_log %}
    
    <!-- <div class="logo">
        <img src="{% static 'images/logo1.png' %}" alt="My logo" />
      </div> -->
    <div class="global-container">

        <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Hurray! 😀your mail is verified </h3>
            <div class="card-text text-center">
                Please proceed to login page!
            </div>
            <div class="text-center">
            <a class="btn btn-primary" href="{% url 'login' %}" >Login</a>
</div>
        </div>
    </div>
    </div>


    {% endblock %}